@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #fe9078;
    --primary-color: #172238;
    --secondary-color: #202b45;
    --secondary-color-hover: #26314d;
    --white-color: #eeecec;
    --primary-font: "Montserrat", sans-serif;
}

body {
    padding: 2em;
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-areas: "sideBar sideBar mainContent mainContent mainContent mainContent";
}

.sideBar {
    width: 100%;
    display: flex;
    padding: 1em;
    flex-direction: column;
    grid-area: sideBar;
    background-color: var(--primary-color);
}

.sideBar > .top {
    margin: 0 0 1em 0;
}

.sideBar > .body {
    display: grid;
    column-gap: 1em;
    grid-template-areas:
        "about-me my-resume"
        "my-portfolio contact-me";
    margin: 1em 0 0 0;
}

.mainContent {
    grid-area: mainContent;
    padding: 0px 1em;
    background-color: var(--background-color);
}

.mainContent > .card-no-padding {
    height: 100%;
    background-color: white;
}

/* ABOUT ME */
.sideBar#about-me > .body {
    display: grid;
    grid-template-areas:
        "about-me-header"
        "about-me-body";
    margin: 1em 0 0 0;
}

.about-me-header {
    grid-area: about-me-header;
    font-weight: bold;
    font-family: var(--primary-font);
    margin: 0.5em 0 !important;
}

.about-me-body {
    grid-area: about-me-body;
}
